.container {
  min-height: 100vh;
  overflow: hidden;
  margin: 0;

}

.horizontalScrollContainer {
  background-image: url("../pages/assets/images/warehouse5.jpg");
  background-size: 100% 100%;
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 5000px;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.horizontalScrollContainer:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
